.post-toc {
  width: 250px;
}
@media (max-width: 900px) {
  .post-toc {
    display: none;
  }
}
@media (min-width: 900px) {
  .post-toc {
    max-width: 19%;
    max-height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9999;
    padding: 0 10px;
    font-size: 15px;
    color: #444;
    box-sizing: border-box;
    position: absolute;
    top: 257px;
    right: 6px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    margin: 1.5em 0 0.3em 1.5em;
  }
  .post-toc::-webkit-scrollbar-thumb {
    display: none;
  }
  .post-toc::-webkit-scrollbar-track {
    display: none;
  }
  .post-toc .post-toc-title {
    display: inline-block;
    border-top: 1px solid #e3e3e3;
    padding: 7px 0;
    color: #0e83cd;
  }
  .post-toc .toc-link {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: inherit;
    padding: 7px 0;
    display: block;
    line-height: 1;
  }
  .post-toc .toc-link:hover {
    color: #1094e8;
  }
  .post-toc .toc-link.active {
    color: #0e83cd;
  }
  .post-toc ol {
    list-style: none;
    padding-left: 15px;
  }
  .post-toc > ol {
    margin: 0;
    padding: 0;
  }
  .post-toc .back-to-top {
    margin-top: 30px;
  }
  .post-toc a {
    color: inherit;
    text-decoration: none;
  }
  .post-toc a:hover {
    color: #1094e8;
  }
}
