
.article
    margin auto
    position relative
    top 100px
    color text-font
    padding 20px
    font-size 15px

    h1
        font-weight bolder
        margin 20px 0

    .info
        a
            color #5c6b72
            text-decoration none

        .date, .category, .tags
            color #5c6b72
            display inline-block
            margin-right 20px

            .tag
                margin-right 10px

    .content
        margin 50px 0


/*toc*/

@media (min-width: 900px)
  .toc-article
    box-shadow 0 0 5px rgba(0, 0, 0, 0.6)
    border 1px solid #eee
    border-radius 10px
    margin 1.5em 0 0.3em 1.5em
    padding 1.2em 1em 0 1em
    max-width 19%
    position fixed
    right 6px
    top 36px
    max-height 70%
    overflow-x hidden
    overflow-y scroll
    z-index 99999
    
    &::-webkit-scrollbar-thumb
      display none
    &::-webkit-scrollbar-track
      display none
    
  .toc-title
    font-size 120%

  #toc
    line-height 1em
    font-size 0.9em
    float right
    .toc
      padding 0
      margin 1em
      line-height 1.8em

    ol
      list-style-type none
      padding-left 10px
